<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to UWE's Support Check In System</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 flex items-center justify-center h-screen">
    <div class="max-w-lg mx-auto py-10 px-6 bg-white shadow-md rounded-lg">
        <h1 class="text-3xl font-semibold text-center mb-8">Welcome to UWE's Support Check In System</h1>
        <div class="flex justify-center space-x-6">
            <a href="studentlogin" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">
                If you're a student, log in here
            </a>
            <a href="stafflogin" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">
                If you're a staff member, log in here
            </a>
        </div>
    </div>
</body>

</html>
